[submodule "cardinal-perception"]
	path = cardinal-perception
	url = https://github.com/Cardinal-Space-Mining/Cardinal-Perception
	branch = functionality
[submodule "multiscan-driver"]
	path = multiscan-driver
	url = https://github.com/Cardinal-Space-Mining/multiscan-driver
[submodule "csm-metrics"]
	path = csm-metrics
	url = https://github.com/Cardinal-Space-Mining/csm-metrics
[submodule "phoenix-driver/libs/Phoenix5-Linux-Example"]
	path = phoenix-driver/libs/Phoenix5-Linux-Example
	url = https://github.com/CrossTheRoadElec/Phoenix5-Linux-Example
[submodule "launch-utils"]
	path = launch-utils
	url = https://github.com/Cardinal-Space-Mining/launch-utils
